.gallery {
    display: grid;
    margin-left: auto;
    padding: 10px 0;
    margin-right: auto;
    max-width: 70%;
    min-height: 90vh;
    max-height: 90vh;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 180px;
    grid-template-areas: 
        "item item item item"
        "item item item item"
        "item item item item";
}

.item {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
}

nav {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search {
    height: 35px;
    width: 550px;
    border: 1px solid #b0b0b1;
    border-radius: 3%;
}